<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <!--变量-->
    <Properties>
        <property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1}.%M(%L) | %m%n</property>
    </Properties>

    <!--Appenders-->
    <Appenders>
        <!--控制台输出-->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>
    </Appenders>

    <!--Loggers-->
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>

</Configuration>